<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paymecheckout>
                <active>1</active>
                <allowspecific>0</allowspecific>
                <model>Dfe\Alignet\Model\Paymecheckout</model>
                <order_status_holded>holded</order_status_holded>
                <order_status_new>pending</order_status_new>
                <order_status_processing>processing</order_status_processing>
                <title>Tarjeta Crédito/Débito</title>
            </paymecheckout>
			<payme_gateway>
				<main_parameters>
					<payme_esquema>0</payme_esquema>
				</main_parameters>
			</payme_gateway>
        </payment>
    </default>
</config>