<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Config:etc/system_file.xsd'
>
	<system>
		<section id='payment'>
			<group
				id='payme_gateway'
				showInDefault='1'
				showInStore='1'
				showInWebsite='1'
				sortOrder='201'
				translate='label'
				type='text'
			>
				<label>Pay-me Checkout</label>
				<comment><![CDATA[Vende en línea con la pasarela de pagos Pay-me. Ofrece una buena experiencia de compra a tus clientes, acepta diferentes medios de pagos y haz que tu negocio crezca.]]></comment>
				<group
					id='main_parameters'
					showInDefault='1'
					showInStore='1'
					showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='text'
				>
					<label> CONFIGURACIÓN GENERAL</label>
					<attribute type='expanded'>1</attribute>
					<field
						id='payme_enable'
						showInDefault='1'
						showInStore='1'
						showInWebsite='1'
						sortOrder='1'
						translate='label'
						type='select'
					>
						<label>Activar Plugin?</label>
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					</field>
					 <field
						 id='payme_debug'
						 showInDefault='1'
						 showInStore='1'
						 showInWebsite='1'
						 sortOrder='1'
						 translate='label'
						 type='select'
					 >
						<label>Activar Debug?</label>
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					</field>
					   <field
						   id='payme_environment'
						   showInDefault='1'
						   showInStore='1'
						   showInWebsite='1'
						   sortOrder='2'
						   translate='label'
						   type='select'
					   >
						<label>Ambiente</label>
						<source_model>Dfe\Alignet\Model\System\Config\Source\Options\Ambiente</source_model>
					</field>
					<field
						id='payme_esquema'
						showInDefault='1'
						showInStore='1'
						showInWebsite='1'
						sortOrder='2'
						translate='label'
						type='select'
					>
						<label>Esquema de Integración</label>
						<source_model>Dfe\Alignet\Model\System\Config\Source\Options\Esquema</source_model>
					</field>
					<field
						id='payme_modal_type'
						showInDefault='1'
						showInStore='1'
						showInWebsite='1'
						sortOrder='2'
						translate='label'
						type='select'
					>
						<label>Diseño de Modal</label>
						<source_model>Dfe\Alignet\Model\System\Config\Source\Options\Action</source_model>
						<depends>
							<field id='*/*/main_parameters/payme_esquema'>1</field>
						</depends>
					</field>
					  <field
						  id='callbackurl'
						  showInDefault='1'
						  showInStore='1'
						  showInWebsite='1'
						  sortOrder='6'
						  translate='label'
						  type='link'
					  >
						<label>Url de Respuesta</label>
						<validate>validate-no-empty</validate>
					</field>
				</group>
				<group
					id='pos_parameters_soles'
					showInDefault='1'
					showInStore='1'
					showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>CONFIGURACIÓN - MONEDA LOCAL</label>
					<attribute type='expanded'>1</attribute>
					<field
						id='payme_adquir_id'
						showInDefault='1'
						showInStore='1'
						showInWebsite='1'
						sortOrder='1'
						translate='label'
						type='text'
					>
						<label>ID Adquirente</label>
					</field>
					<field
						id='payme_comerce_id'
						showInDefault='1'
						showInStore='1'
						showInWebsite='1'
						sortOrder='2'
						translate='label'
						type='text'
					>
						<label>ID Comercio</label>
					</field>
					<field
						id='payme_vpos_id'
						showInDefault='1'
						showInStore='1'
						showInWebsite='1'
						sortOrder='3'
						translate='label'
						type='text'
					>
						<label>Clave V-POS2</label>
					</field>
					<field
						id='payme_wallet_id'
						showInDefault='1'
						showInStore='1'
						showInWebsite='1'
						sortOrder='4'
						translate='label'
						type='text'
					>
						<label>ID Wallet</label>
					</field>
					<field
						id='payme_wallet_secret'
						showInDefault='1'
						showInStore='1'
						showInWebsite='1'
						sortOrder='4'
						translate='label'
						type='text'
					>
						<label>Clave Wallet</label>
					</field>
				</group>
				<group
					id='pos_parameters_dolares'
					translate='label'
					type='text'
					sortOrder='3'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>CONFIGURACIÓN - MONEDA DÓLARES</label>
					<attribute type='expanded'>1</attribute>
					<field id='payme_adquir_id_dls' translate='label' type='text' sortOrder='1' showInDefault='1' showInWebsite='1' showInStore='1'>
						<label>ID Adquirente</label>
					</field>
					<field id='payme_comerce_id_dls' translate='label' type='text' sortOrder='2' showInDefault='1' showInWebsite='1' showInStore='1'>
						<label>ID Comercio</label>
					</field>
					<field id='payme_vpos_id_dls' translate='label' type='text' sortOrder='3' showInDefault='1' showInWebsite='1' showInStore='1'>
						<label>Clave V-POS2</label>
					</field>
					<field id='payme_wallet_id_dls' translate='label' type='text' sortOrder='4' showInDefault='1' showInWebsite='1' showInStore='1'>
						<label>ID Wallet</label>
					</field>
					<field id='payme_wallet_secret_dls' translate='label' type='text' sortOrder='4' showInDefault='1' showInWebsite='1' showInStore='1'>
						<label>Clave Wallet</label>
					</field>
				</group>
			</group>
		</section>
	</system>
</config>